$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.col-xs-4 {
  height: 45px;
  padding-right:20px; border-right: 1px solid #ccc;
  border-bottom: 1px solid #e5e5e5;
}

.spacing {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.col-sm-12 {
  height: 55px;
  border-bottom: 1px solid #e5e5e5;
}

.col-xs-10, .col-xs-2{
  height: 25px;
  vertical-align:middle;
  font-size: 12px;
}

.col-xs-12 {
  font-size: 12px;
  margin-top: 7px;
}

.spacing-top {
    padding-top: 15px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.spacing-top-image {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nopadding {
   padding: 0 !important;
}

.noright-padding {
   padding-right: 0 !important;
}

.iban {
  margin-left: 42px;
  color: gray;
}

.freeze {
  background-color: gray;
}

.no_freeze {
  background-color: white;
}

.navbar-header {
  background-color: rgb(101,18,150);
  height: 50px;
  margin-bottom: 12px;
}

.navbar-brand-blue {
  color: rgb(107,205,234);
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  cursor:pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #e5e5e5;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 28px;
    margin-left: 50px;
}

.button {
    background-color: #651296;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin-top: 9px;
}

.overview {
  height: 90px;
}

.dark-gray {
  color: darkgray;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
