<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

  <div class="row">
    <div class="col-sm-12 ">
      <div class="col-xs-2 nopadding"><img class="spacing-top-image" src="http://placehold.it/40x25"></div>
      <div class="col-xs-8 nopadding"><span >basis rekening</span></div>
      <div class="col-xs-2 nopadding">&euro; -45,36</div>
      <div class="col-xs-10 iban">NL46 SNSB 08766 7256 87</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center"><a class="spacing" href="">BIJ EN AF</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">INZICHT</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">GEPLAND</a></div>
  </div>
  <div class="row">
    <div class="col-sm-12 ">
      <div class="col-xs-10 nopadding"><span class="spacing-top">Telefoon abonnement</span></div>
      <div class="col-xs-2 nopadding"><span class="spacing-top">&euro; -45,36</span></div>
      <div class="col-xs-12 nopadding">10-05-2017</div>
    </div>
    <div class="col-sm-12">
      <div class="col-xs-10 nopadding"><span class="spacing-top">Huur</span></div>
      <div class="col-xs-2 nopadding"><span class="spacing-top">&euro; -750,00</span></div>
      <div class="col-xs-12 nopadding">10-05-2017</div>
    </div>
    <div class="col-sm-12 ">
      <div class="col-xs-10 nopadding"><span class="spacing-top">Zorgverzekering</span></div>
      <div class="col-xs-2 nopadding"><span class="spacing-top">&euro; -119,89</span></div>
      <div class="col-xs-12 nopadding">10-05-2017</div>
    </div>
  </div>
