<div ng-controller="MainCtrl as ctrl">
  <div class="row">
    <div class="col-xs-4 text-center"><a class="spacing" href="">BIJ EN AF</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">INZICHT</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">GEPLAND</a></div>
  </div>
  <div class="row">
    <div class="col-sm-12 ">
      <div ng-repeat="transaction in ctrl.transactionData">
        <div class="col-xs-10 nopadding"><span class="spacing-top">{{transaction.receiver}}</span></div>
        <div class="col-xs-2 nopadding"><span class="spacing-top">&euro; {{transaction.amount}}</span></div>
        <div class="col-xs-12 nopadding">{{transaction.formattedDate}}</div>
      </div>
    </div>
  </div>

</div>
