<div ng-controller="MainCtrl as ctrl">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="col-xs-2 nopadding"><img class="spacing-top-image" src="images/pas.png"></div>
      <div class="col-xs-8 nopadding"><span >basis priverekening</span></div>
      <div class="col-xs-2 nopadding">&euro; {{ctrl.saldo}}</div>
      <div class="col-xs-10 iban">NL46 SNSB 08766 7256 87</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center"><a class="spacing" href="">BIJ EN AF</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">INZICHT</a></div>
    <div class="col-xs-4 text-center"><a class="spacing" href="">GEPLAND</a></div>
  </div>
  <div class="row">
      <div class="col-sm-12 " ng-repeat="transaction in ctrl.transactionData"
            ng-class="ctrl.getFreeze(transaction) ? 'freeze' : 'no_freeze'">
        <div class="col-xs-10 nopadding"><span class="spacing-top">{{transaction.receiver}}</span></div>
        <div class="col-xs-2 nopadding"><span class="spacing-top">&euro; {{transaction.amount}}</span></div>
        <div class="col-xs-12 nopadding">{{transaction.formattedDate}}</div>
      </div>
  </div>

</div>
